#headline-pov
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: flex-end;
}

.nav
{
  padding-left:100px;
}

body
{
  font-family:'Times New Roman', Times, serif;
  color: #FF1818;
  background-color: #E8E5DD;
}

img
{
  border-radius: 60%;
  display: inline-block;
  
}

.flex-below
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  inline-size: 1200px;
  padding-left: 10%;
  padding-right: 5%;
}

p
{
  padding-left: 10%;

}

footer
{
  color:black;
  background-color: #d2d1dcd7;
  padding: 50px;
  border-radius: 50%;
  text-align: center;

}
.media-link
{
  border-radius: 45%;
  margin: 50px;
}